/* main mt should be 57px when this code is going to be in build for live deploy */
.main {
  position: relative;
  height: calc(100vh - 110px);
  overflow: auto;
  background-color: #fff;
  // background-color: var(--background-light);
}
