.counterWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-family: "interRegular", sans-serif !important;
  .highlight {
    color: #fff;
    background-color: var(--bg-dark-main-light);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "interSemiBold", sans-serif !important;
    transition: all 0.2s;
  }
  .totalSteps {
    font-size: 14px;
    color: var(--bg-dark-main);
    font-family: "interSemiBold", sans-serif;
  }
}
